<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="https://statics.arcsecond.io/icons/favicons/favicon.ico">

  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Inconsolata" rel=stylesheet type=text/css>
  <link href="{$ url_for('static', filename='css/font-awesome.min.css') $}" rel=stylesheet>

  <link href="{$ url_for('static', filename='css/style.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/main.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/oort.css') $}" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://unpkg.com/vue-select@3.0.0"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
</head>

<body>

<div class="container-fluid">

  <div class="row row-header">
    <h3 title="Oort Cloud is open-source! Find it on https://github.com/arcsecond-io">
      <img src="{$ url_for('static', filename='img/logo-circle.png') $}" width="20">
      Your <a href="https://github.com/arcsecond-io/oort" target="_blank">Oort</a> service
      <span class="small">
          uploads local data to <a href="https://www.arcsecond.io" target="_blank">Arcsecond</a>'s cloud.
          <a class="btn btn-primary btn-xs" href="https://github.com/arcsecond-io/oort/issues/new">Report a problem</a>
        </span>
    </h3>

    {% if context.isAuthenticated %}
      <span class="right">@{$ context.username $}</span>
      {% if context.membership %}
        <span class="right">
        &nbsp; ({$ context.membership[0] $}: {$ context.membership[1] $})
        </span>
      {% endif %}
    {% endif %}

  </div>

  {% if not context.isAuthenticated %}

    <div class="row">
      <div class="col-xs-3 col-xs-offset-4">
        <div class="context login">
          <div class="h3">You need to log in Arcsecond first.</div>
          {% if context.loginError %}
            <div class="alert alert-danger">
              {% if context.loginError['non_field_errors'] %}
                {$ context.loginError['non_field_errors'] $}
              {% else %}
                {$ context.loginError $}
              {% endif %}
            </div>
          {% endif %}
          <form action="/login" method="post">
            <label for="username">Username or email:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username or email">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            <label for="subdomain">Organisation subdomain (optional):</label>
            <input type="text" id="subdomain" name="subdomain" class="form-control"
                   placeholder="Organisation subdomain">
            <br/>
            <button class="btn btn-primary-black" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>

  {% else %}

    <!-- **** STARTING FROM HERE, VUE.JS 'state.js' HAS CONTROL **** -->
    <div id="vuejs" class="main-content">

      <div class="row row-select" v-if="state">
        <div v-if="!has_data">
          <div class="h3 label-centered">
            <i class="fa fa-spin fa-spinner"></i>
            Loading Folder(s) Data...
          </div>
        </div>

        <div v-else-if="has_data && state.folders.length > 0">
          <div class="h3">
            {{ state.folders.length }}
            Watched Folder<span v-if="state.folders.length > 1">s</span>
          </div>
          <v-select
            v-if="state.folders.length"
            :options="state.folders"
            :value="selected_folder"
            :clearable="false"
            :searchable="false"
            @input="selectFolder"
            label="path"
          >
          </v-select>

          <div v-if="selected_folder">
            Config:
            <span v-if="selected_folder.subdomain">
              <span class="subtitle">organisation:</span> {{ selected_folder.subdomain }}<span v-if="selected_folder.telescope">,</span>
            </span>
            <span v-else>
              <span class="subtitle">username:</span> @{{ selected_folder.username }},
              <span class="subtitle">api_key:</span> {{ selected_folder.api_key.substring(0,4) }}...
            </span>
            <span v-if="selected_folder.telescope">
              <span class="subtitle">telescope:</span> {{ selected_folder.telescope }}
            </span>
            <span class="subtitle" v-if="selected_folder.debug === 'True'">(Debug)</span>
          </div>

        </div>

        <div v-else class="instruction text-small small">
          There is no folder to watch.
          To watch a folder, add it with the terminal command <code>oort watch [options] &lt;folder path&gt;</code>.
        </div>

      </div>
      <div v-else>
        <div class="h3 label-centered">
          <i class="fa fa-spin fa-spinner"></i>
          Starting...
        </div>
      </div>

      <div class="row row-tables text-small" v-if="has_data && selected_folder && counts">
        <div class="col-xs-12">

          <div id="uploads">
            <div class="table-block">
              <div class="table-title">
                <input id="toggle-current" type="checkbox" v-model="show_tables.current">
                Active Uploads ({{ current_uploads.length }})
                <i class="fa fa-spin fa-spinner"></i>
              </div>
              <div v-if="show_tables.current">
                <active-table
                  v-if="current_uploads.length > 0"
                  :uploads="current_uploads"
                  :root_path="selected_folder.path"
                ></active-table>
                <div v-else>
                  <span class="label-centered">There are no active uploads.</span>
                </div>
              </div>
            </div>

            <div class="table-block">
              <div class="table-title">
                <input id="toggle-error" type="checkbox" v-model="show_tables.error" class="">
                <span style="margin-right: 5px;">Failed Uploads ({{ counts.error }})</span>
                <span style="margin-right:5px;" v-if="counts.error > 1000">(only last 1000 shown)</span>
                <button class="btn btn-sm btn-primary-black" @click="retryAllFailed">Retry All</button>
              </div>
              <div v-if="show_tables.error">
                <errors-table
                  v-if="error_uploads.length > 0"
                  :uploads="error_uploads"
                  :root_path="selected_folder.path"
                ></errors-table>
                <div v-else>
                  <span class="label-centered">There are no failed uploads.</span>
                </div>
              </div>
            </div>

            <div class="table-block">
              <div class="table-title">
                <input id="toggle-pending" type="checkbox" v-model="show_tables.pending" class="">
                <span style="margin-right:5px;">Pending Uploads ({{ counts.pending }})</span>
                <span style="margin-right:5px;" v-if="counts.pending > 1000">(only next 1000 shown)</span>
              </div>
              <div v-if="show_tables.pending">
                <pending-table
                  v-if="pending_uploads.length > 0"
                  :uploads="pending_uploads"
                  :root_path="selected_folder.path"
                ></pending-table>
                <div v-else>
                  <span class="label-centered">There are no pending uploads.</span>
                </div>
              </div>
            </div>

            <div class="table-block">
              <div class="table-title">
                <div>
                  <span style="margin-right:5px;">Finished Uploads {{ counts.finished }}.</span>
                  <span style="margin-right:5px;" v-if="counts.finished > 1000">(only last 1000 shown)</span>
                </div>
                <div>
                  <span style="margin-left:5px;">Show Done ({{ counts.finished - counts.skipped }}): </span>
                  <input id="toggle-finished-done" type="checkbox" v-model="show_tables.finished_done" class="">
                  <span style="margin-left:5px;">Show Skipped ({{ counts.skipped }}): </span>
                  <input id="toggle-finished-skipped" type="checkbox" v-model="show_tables.finished_skipped" class="">
                </div>
              </div>
              <div v-if="show_tables.finished_done || show_tables.finished_skipped">
                <finished-table
                  v-if="finished_uploads.length > 0"
                  :uploads="finished_uploads"
                  :root_path="selected_folder.path"
                ></finished-table>
                <div class="center-block text-center">
                  <span class="subtitle">Uploads older than 7 days are not shown ({{ counts.hidden }} hidden). </span>
                </div>
                <div v-else>
                  <span class="label-centered">There are no inactive / past uploads.</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  {% endif %}

  <script src="{$ url_for('static', filename='js/utils.js') $}"></script>
  <script src="{$ url_for('static', filename='js/active-table.js') $}"></script>
  <script src="{$ url_for('static', filename='js/pending-table.js') $}"></script>
  <script src="{$ url_for('static', filename='js/errors-table.js') $}"></script>
  <script src="{$ url_for('static', filename='js/finished-table.js') $}"></script>
  <script src="{$ url_for('static', filename='js/main-app.js') $}"></script>

  <style>
      .table-title {
          display: flex;
          align-items: baseline;
      }

      input[type="checkbox"] {
          margin-right: 5px;
      }
  </style>
</div>
</body>
</html>
