include oort/server/app/static/css/*.css
include oort/server/app/static/fonts/*.svg
include oort/server/app/static/fonts/*.ttf
include oort/server/app/static/fonts/*.woff
include oort/server/app/static/fonts/*.woff2
include oort/server/app/static/img/*.png
include oort/server/app/static/js/*.js
include oort/server/app/templates/*.html
