body {
    height: 100%;
    width: 100%;
    background-position: top left, center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #1c1c1c;
    font-size: large;
    padding: 1em 2em;
}

img {
    vertical-align: -3px;
}

.container {
    margin-top: 20px;
}
