@font-face {
  font-family: 'DS-Digital';
  src: url('../fonts/DS-DIGI.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-y: hidden;
}

.page {
  margin-top: 40px;
  height: 100%;
}

.page-content {
  height: calc(100% - 40px);
}

.page-full {
  height: 100%;
  overflow: hidden;
}

.page-scroll {
  overflow-y: scroll;
  height: calc(100% - 40px);
  padding-bottom: 20px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

/*.container-fluid {*/
/*  padding-left: 0;*/
/*  padding-right: 0;*/
/*  margin-left: 0;*/
/*  margin-right: 0;*/
/*  width: 100%;*/
/*}*/

img {
  vertical-align: -3px;
}

.text-aux {
  color: #AAA;
}

.text-aux-dark {
  color: #888;
}

.text-value {
  color: #111111;
}

.text-small {
  font-size: small;
}

.btn-primary {
  border-radius: 2px;
  border: 1px solid white;
  background: transparent;
  color: #4dbce9;
  font-weight: 700;
  font-size: 12px;
  text-transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-primary > span {
  position: relative;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-primary > span:first-child {
  left: 0;
  width: 12px;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-primary > span:last-child {
  left: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  border-color: #4dbce9;
  background: transparent;
  color: #4dbce9;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn-primary:hover > span:first-child,
.btn-primary:focus > span:first-child,
.btn-primary:active > span:first-child,
.btn-primary:active:focus > span:first-child {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-primary:hover > span:last-child,
.btn-primary:focus > span:last-child,
.btn-primary:active > span:last-child,
.btn-primary:active:focus > span:last-child {
  left: 0;
}

.btn-default {
  border-radius: 2px;
  border: 1px solid lightgray;
  background: transparent;
  color: #7d7d7f;
  font-weight: 700;
  font-size: 12px;
  text-transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-default > span {
  position: relative;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-default > span:first-child {
  left: 0;
  width: 12px;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-default > span:last-child {
  left: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
  border-color: #7d7d7f;
  background: transparent;
  color: #7d7d7f;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn-default:hover > span:first-child,
.btn-default:focus > span:first-child,
.btn-default:active > span:first-child,
.btn-default:active:focus > span:first-child {
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-default:hover > span:last-child,
.btn-default:focus > span:last-child,
.btn-default:active > span:last-child,
.btn-default:active:focus > span:last-child {
  left: 0;
}

.btn-primary-black {
  color: #333333;
  background-color: transparent;
  border-color: #333333;
}

.btn-primary-black:disabled {
  color: #555555;
  pointer-events: none;
  opacity: 0.25;
  filter: alpha(opacity=25);
}

.alert {
  display: block;
  border-radius: 0;
  border: 0;
  font-weight: 500;
}

.default-blue-color-light {
  color: #4dbce9;
}

.default-blue-color-dark {
  color: #20abe3;
}

.default-text-color {
  color: #5c6d8b;
}

.faq {
  margin-left: 10%;
  margin-right: 10%;
}

.faq .question {
  padding-top: 30px;
  font-size: x-large;
  color: black;
}

.faq .answer {
  padding-top: 10px;
  font-size: large;
  color: #626262;
}

/* https://gist.github.com/01-Scripts/3010527 */
.external-link:after,
a[target="_blank"]:after {
  content: "\f08e";
  font-family: FontAwesome, sans-serif;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 7pt;
  padding-left: 2px;
  color: #209fd7;
}

a[target="_blank"] {
  color: #209fd7;
}

/* Strip from links to own domain or with class no_icon */
a.no_icon:after {
  content: "" !important;
  padding-left: 0;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.vue-xeditable-value:after {
  content: "\f044";
  font-family: FontAwesome, sans-serif;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: x-small;
  padding-left: 5px;
  color: transparent;
}

.vue-xeditable-value:hover:after {
  color: #7d7d7d;
}

.active .vue-xeditable-value:hover:after {
  color: white;
}

.auth-menu-button {
  background-color: transparent;
}

.auth-menu-button {
  background-color: transparent;
  padding-top: 10px;
}

.auth-menu-button:hover,
.auth-menu-button:focus,
.auth-menu-button.focus,
.auth-menu-button:active,
.auth-menu-button.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: transparent;
  border-color: #269abc;
}

.auth-menu-button-white {
  color: #4b4b4b;
}

.auth-menu-button-white:hover,
.auth-menu-button-white:focus,
.auth-menu-button-white.focus,
.auth-menu-button-white:active,
.auth-menu-button-white.active,
.open > .dropdown-toggle.btn-info {
  color: #4b4b4b;
  border-color: #4b4b4b;
}

ul.no_bullet {
  list-style-type: none;
  padding: 0;
}

ul.no_bullet li {
  padding: 0;
  margin: 0;
}

ul.no_bullet.tree {
  background-color: rgba(220, 230, 242, 0.46);
}

ul.no_bullet.box {
  margin: 30px 10px 20px 10px;
}

ul.no_bullet.box li.custom {
  padding-left: 40px;
  padding-top: 3px;
}

ul.no_bullet li.logo {
  background: url('../img/logo-circle.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.stars {
  background: url('../img/icon-star.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.std {
  background: url('../img/icon-standard-star.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.observatories {
  background: url('../img/icon-observing-site.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.telescopes {
  background: url('../img/icon-telescope.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.runs {
  background: url('../img/icon-observing-run.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.converters {
  background: url('../img/icon-converter.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.charts {
  background: url('../img/icon-charts-sm.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.logs {
  background: url('../img/icon-night-log.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.datasets {
  background: url('../img/icon-dataset.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.datafiles {
  background: url('../img/icon-fits.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.telegrams {
  background: url('../img/icon-telegrams.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.exoplanets {
  background: url('../img/icon-exoplanet.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.collaborations {
  background: url('../img/icon-collaborations.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.publications {
  background: url('../img/icon-publication.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.flake {
  background: url('../img/icon-flake.png') no-repeat 10px 2px;
  background-size: 20px;
}

ul.no_bullet li.asteroids {
  background: url('../img/icon-asteroid.png') no-repeat 10px 2px;
  background-size: 20px;
}

/* multi-pane resizers */

.custom-multipane {
  width: 100%;
}

.custom-multipane .pane {
  padding: 0;
}

.custom-multipane .resizer {
  margin: 0;
  position: relative;
  z-index: 100;
}

.custom-multipane > .resizer:before {
  display: block;
  content: "";
  width: 3px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -1.5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.custom-multipane > .resizer:hover,
.custom-multipane > .resizer:before {
  border-color: #999;
}

.code {
  /*color: #8cbde8;*/
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;
  box-sizing: border-box;
  color: rgb(204, 34, 85);
  cursor: auto;
  display: inline;
  font-family: Consolas, monaco, 'Ubuntu Mono', courier, monospace;
  font-size: medium !important;
  /* height: auto; */
  line-height: 12px;
  tab-size: 4;
  text-decoration: none;
  white-space: normal;
  /* width: auto; */
  word-wrap: break-word;
  text-shadow: 1px 1px 1px white;
}

/* ---- row cells ----- */

.row-cell {
  padding: 2px 10px;
}

.row-cell .title {
  font-size: small;
  color: black;
}

.row-cell .strong,
.row-cell .value {
  font-weight: bold;
}

.row-cell .value {
  margin-left: 10px;
}

.row-cell .unit {
  padding-left: 8px;
  padding-right: 5px;
}

.row-cell .quality,
.row-cell .bibcode {
  font-size: x-small;
}

.row-cell .quality .value,
.row-cell .label .value {
  font-weight: bold;
}

.row-cell .blue {
  color: #1e93c8;
}

.row-cell .darkgray {
  color: #686868;
}

.row-cell .gray {
  color: darkgray;
}

/* ---------------------- TABS ---------------------- */

.tabs-component {
  margin: 1em 0 0 0;
}

.tabs-component-tabs {
  border: solid 1px #ddd;
  border-radius: 6px;
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
  list-style: none;
}

.tabs-component-tab:not(:last-child) {
  border-bottom: dotted 1px #ddd;
}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

.tabs-component-tab.is-disabled * {
  color: #cdcdcd;
  cursor: not-allowed !important;
}

@media (min-width: 700px) {
  .tabs-component-tab {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    /*transform: translateY(2px);*/
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active {
    border-bottom: solid 1px #fff;
    z-index: 2;
    /*transform: translateY(0);*/
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .5em 1em;
  text-decoration: none;
}

.tabs-component-panels {
  padding: 0;
  height: 100%;
}

@media (min-width: 700px) {
  .tabs-component-panels {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  }
}

/* ---------------------- Scalendar ---------------------- */

.v-scalendar .v-scalendar-btn.active {
  color: white;
  font-weight: bold;
}

.v-scalendar .v-scalendar-btn:hover {
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.v-scalendar .v-scalendar-months .v-scalendar-btn.active {
  background-color: #555;
  /*border: 1px solid rgba(66, 128, 192, 0.16);*/
  /*color: rgba(83, 163, 244, 0.91);*/
  font-weight: bold;
  color: rgba(247, 247, 247, 0.88);
}

.v-scalendar .v-scalendar-days .line-weeks .v-scalendar-btn.active {
  background-color: rgba(66, 128, 192, 0.07);
  border: 1px solid rgba(66, 128, 192, 0.16);
  color: rgba(66, 128, 192, 0.82);
}

.v-scalendar .v-scalendar-days .line-days .v-scalendar-btn.active {
  background-color: #519cea;
  border: 1px solid #519cea;
}

.v-scalendar .line-days .v-scalendar-btn {
  text-transform: uppercase !important;
}

.v-scalendar .v-scalendar-days-overlay {
  margin-top: 65px;
  width: 100%;
  height: calc(100% - 65px);
}

/* -- new objects modal -- */

#new-object {
  padding: 0 20px;
  height: 100%;
}

/*#new-object img {*/
/*  vertical-align: -5px;*/
/*}*/

#new-object .tabs-component {
  height: calc(100% - 110px);
}

#new-object .tabs-component-panel,
#new-object .tab-core {
  height: 100%;
}

#new-object .tab-content {
  padding: 5px 15px;
  height: 100%;
}

#new-object .form-group {
  width: 100%;
}

#new-object .form-inline .form-control {
  height: 1.5em;
  font-size: x-large;
  width: calc(100% - 110px);
}

#new-object .form-inline input[type="text"] {
  height: 1.5em;
  font-size: x-large;
}

#new-object .form-group button.btn-primary {
  width: 80px;
  margin-left: 5px;
}

#new-object .result {
  padding-top: 5px;
  height: calc(100% - 30px);
}

#new-object .result.scroll {
  overflow-y: scroll;
  height: calc(100% - 50px);
}

#new-object .help {
  font-size: smaller;
  color: darkgray;
  margin: 10px 2px;
}

#new-object .coordinates {
  padding: 15px 0;
}

#new-object .action-buttons {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

#new-object .action-buttons > input,
#new-object .action-buttons > label,
#new-object .action-buttons > button {
  margin-left: 5px;
}

/* circles */

.circle-block {
  text-align: center;
  vertical-align: middle;
}

.circle-block .title {
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: bold;
  height: 30px;
}

.circle-block .title h4 img {
  margin-right: 5px;
  vertical-align: -2px;
}

.circle-block .circle {
  border-radius: 100px;
  height: 120px;
  width: 120px;
  font-weight: bold;
  display: table;
  margin: 20px auto;
}

.circle-block .circle p {
  vertical-align: middle;
  display: table-cell;
}

.circle-block .circle p.extra-large {
  font-size: 32pt;
}

.circle-block .compact {
  color: #b2b2b2;
  padding: 0 20px 0 20px;
}

/* subtitle */

div.subtitle,
span.subtitle {
  color: darkgray;
  font-size: small;
  text-transform: none;
}

/* modals */

.modal-container {
  margin: 0 20px;
  padding: 30px;
}

.modal-container .footer {
  margin: 20px;
  position: absolute;
  padding: 0 30px;
  bottom: 0;
}

.modal-container .footer.left {
  left: 0;
}

.modal-container .footer.right {
  right: 0;
}

/* Original Modals */

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/* --- slider --- */

.slider >>> .vue-slider-rail .vue-slider-dot-handle {
  border: 1px solid white !important;
}
