.main-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}

.row.row-header {
    background-color: #25292E;
    color: white;
    display: flex;
}

.row.row-header h3,
.row.row-header .h3 {
    margin: 10px 0;
    flex-grow: 1;
}

.row.row-header .right {
    margin: auto;
}

.row.row-header span.small {
    color: #efefef;
}

.row.row-header a {
    color: #4dbce9;
}

.row.row-select > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.row.row-select > div .h3 {
    margin: 10px;
}

.row.row-select > div .v-select,
.row.row-select > div .instruction {
    flex-grow: 0.5;
    margin: 10px;
}

/*.row.row-header {*/
/*    height: 100px;*/
/*    border-bottom: 1px solid #4dbce9;*/
/*    padding-bottom: 0.5em;*/
/*}*/

.row.row-tables {
    padding-top: 1.5em;
    height: 100%;
    overflow-y: scroll;
}

.context {
    line-height: 2em;
}

.table-block {
    display: block;
    margin-bottom: 5em;
}

.label-centered {
    color: lightgray;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 95%;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em; /*set line height back to normal*/
}

.label-centered.lightgray {
    color: lightgray;
}

.label-centered.darkgray {
    color: darkgray;
}

.table-title {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(79, 90, 108, 0.68);
}

.progress {
    margin-bottom: 0;
}