<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"-->
  <!--          integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->

  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Inconsolata" rel=stylesheet type=text/css>
  <link href="{$ url_for('static', filename='css/font-awesome.min.css') $}" rel=stylesheet>

  <link href="{$ url_for('static', filename='css/style.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/main.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/oort.css') $}" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>

<div class="container-fluid">
  <div class="row row-header">
    <div class="col-xs-12">
      <h3>
        <img src="{$ url_for('static', filename='img/logo-circle.png') $}" width="20">
        Your <span class="text-primary">Oort</span> server.
        <span class="small">
          (Oort uploads local data to Arcsecond's cloud. It is open-source and available on
          <a href="https://github.com/arcsecond-io/oort" target="_blank">GitHub</a>).
        </span>
      </h3>
      <div class="context">
        <strong>Launch command used:</strong>
        <code>
          oort
          {% if context.organisation %}-o {$ context.organisation $}{% endif %}
          {% if context.telescopeUUID %}-t {$ context.telescopeUUID $}{% endif %}
          {% if context.debug %}-d{% endif %}
        </code>
      </div>

      {% if context.isAuthenticated %}
        <!-- **** STARTING FROM HERE, VUE.JS 'admin.js' HAS CONTROL **** -->
        <div id="admin">
          <div class="context">
            <div>
              <span><strong>username:</strong> @{{ admin.username }}</span>
              <span v-if="admin.organisation"><strong>organisation:</strong> {{ admin.organisation ? admin.organisation : '-' }}</span>
              <span v-if="admin.role"><strong>role:</strong> {{ admin.role ? admin.role : '-' }}</span>

              <span v-if="admin.organisation && admin.role">
                &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;Uploading to <a :href="`https://api.arcsecond.io/${admin.organisation}/`">api.arcsecond.io/{{ admin.organisation }}/</a>
                (organisation account) [<a :href="`https://${admin.organisation}.arcsecond.io`" target="_blank">open portal</a>]
              </span>
              <span v-else-if="admin.organisation">
                &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;No membership found for organisation with subdomain <code>{{ admin.organisation }}</code>!
                Uploading to <a href="https://api.arcsecond.io">api.arcsecond.io</a> (Personal account)
              </span>
              <span v-else>
                &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;Uploading to <a href="https://api.arcsecond.io">api.arcsecond.io</a> (Personal account)
              </span>
            </div>

            <div>
              <span v-if="admin.telescope">
                <strong>telescope</strong>: {{ admin.telescope.name }} <span class="subtitle">(uuid: {{ admin.telescope.uuid }})</span>
              </span>
              <span v-else>
                No Telescope.
              </span>
              <span v-if="admin.night_log">
                <strong>night log</strong>: {{ admin.night_log.date }} <span class="subtitle">(uuid: {{ admin.night_log.uuid }})</span>
                <br/>
                <span class="subtitle">Beware that night logs starts on local noon and last 24 hours.</span>
                [<a :href="`https://${admin.organisation}.arcsecond.io/${admin.night_log_url}`" target="_blank">open night data in portal</a>]
              </span>
              <span v-else>
                No Night Log.
              </span>
            </div>

            <div v-if="admin.message">
              <strong>{{ admin.message }}</strong>
            </div>

          </div>
        </div>
        <!-- -->

      {% else %}
        <div id="admin">
          <div class="context">
            Login first with the Arcsecond CLI (installed with Oort Cloud): (<code>$ arcsecond login</code>), then
            <a href="/" target="_self">refresh this page</a>.
          </div>
        </div>
      {% endif %}

    </div>
  </div>

  <div class="row text-small">
    <div class="col-xs-12">

      {% if context.canUpload %}

        <!-- **** STARTING FROM HERE, VUE.JS 'uploads.js' HAS CONTROL **** -->
        <div id="uploads">
          <div class="state-block" v-if="state">
            <div class="label-centered darkgray">{{ state.message }}</div>
          </div>

          <div class="table-block" v-if="state.showTables">
            <div class="table-title">Active Uploads ({{ uploads.length }})</div>
            <table class="table table-striped text-small" v-if="uploads.length > 0">
              <thead>
              <tr>
                <th>Filename</th>
                <th>Dataset</th>
                <th>Size</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Started</th>
                <th>Ended</th>
                <th>Duration</th>
                <th>Error</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="upload in current_uploads">
                <td>{{ upload.filename }}</td>
                <td :title="upload.dataset_uuid">{{ upload.dataset_name }}</td>
                <td>{{ upload.filesize / 1000 }} kB</td>
                <td>{{ upload.status }}</td>
                <td>
                  <div class="progress" style="width: 90%;">
                    <div class="progress-bar progress-bar-striped active"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100">
                      <span class="progress-bar-label">{{ Math.round(upload.progress) }}%</span>
                    </div>
                  </div>
                </td>
                <td>{{ upload.started }}</td>
                <td>{{ upload.ended }}</td>
                <td>{{ upload.duration }} s</td>
                <td>{{ upload.error }}</td>
              </tr>
              </tbody>
            </table>
            <div v-else>
              <span class="label-centered">There are no active uploads.</span>
            </div>
          </div>

          <div class="table-block" v-if="state.showTables">
            <div class="table-title">Finished Uploads ({{ finished_uploads.length }})</div>
            <table class="table table-striped text-small" v-if="finished_uploads.length > 0">
              <thead>
              <tr>
                <th>Filename</th>
                <th>Dataset</th>
                <th>Size (kB)</th>
                <th>Status</th>
                <th>Started</th>
                <th>Ended</th>
                <th>Duration</th>
                <th>Error</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="upload in finished_uploads">
                <td>{{ upload.filename }}</td>
                <td :title="upload.dataset_uuid">{{ upload.dataset_name }}</td>
                <td>{{ upload.filesize / 1000 }} kB</td>
                <td>{{ upload.status }}</td>
                <td>{{ upload.started }}</td>
                <td>{{ upload.ended }}</td>
                <td>{{ upload.duration }} s</td>
                <td>{{ upload.error }}</td>
              </tr>
              </tbody>
            </table>
            <div v-else>
              <span class="label-centered">There are no inactive / past uploads.</span>
            </div>
          </div>

        </div>
        <!--  **** -->
      {% endif %}
    </div>
  </div>
</div>

<script src="{$ url_for('static', filename='js/admin.js') $}"></script>
<script src="{$ url_for('static', filename='js/uploads.js') $}"></script>

</body>
</html>
