<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"-->
  <!--          integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->

  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Inconsolata" rel=stylesheet type=text/css>
  <link href="{$ url_for('static', filename='css/font-awesome.min.css') $}" rel=stylesheet>

  <link href="{$ url_for('static', filename='css/style.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/main.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/oort.css') $}" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
<div class="container">
  <div class="row header">
    <div class="col-xs-12">
      <h3>
        <img src="{$ url_for('static', filename='img/logo-circle.png') $}" width="20">
        Your Arcsecond <span class="text-primary">Oort</span> server
        <span class="small">(open-source and available on <a href="https://github.com/arcsecond-io/oort" target="_blank">GitHub</a>).</span>
      </h3>
      <div class="context">
        {% if context.isAuthenticated %}
        <strong>username:</strong> @{$ context.username $},
        <strong>organisation:</strong> {$ context.organisation or '-' $},
        <strong>role:</strong> {$ context.role or '-' $},
        {% if context.organisation %}
        {% if context.role %}
        uploading to <a href="https://api.arcsecond.io/{$ context.organisation $}/">api.arcsecond.io/{$ context.organisation $}/</a>
        (organisation account, <a href="https://{$ context.organisation $}.arcsecond.io" target="_blank">portal</a>).
        {% else %}
        no membership found for organisaion <code>{$ context.organisation or '-' $}</code>
        uploading to <a href="https://api.arcsecond.io">api.arcsecond.io</a> (Personal account)
        {% endif %}
        {% else %}
        uploading to <a href="https://api.arcsecond.io">api.arcsecond.io</a> (Personal account)
        {% endif %}
        {% else %}
        Login first with arcsecond (<code>$ arcsecond login</code>), then <a href="/" target="_self">refresh this page</a>.
        {% endif %}
      </div>
      <div class="context">
        Observed folder: <code>{$ context.folder $}</code>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

      {% if context.isAuthenticated %}
      <!-- **** STARTING FROM HERE, VUE.JS HAS CONTROL **** -->
      <div id="app">
        <div class="table-block">
          <div class="table-title">Active Uploads ({{uploads_active.length}})</div>
          <table class="table table-striped" v-if="uploads_active.length > 0">
            <thead>
            <tr>
              <th>ID</th>
              <th>Filename</th>
              <th>Size (kB)</th>
              <th>Status</th>
              <th>Progress</th>
              <th>Started</th>
              <th>Ended</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="upload in uploads_active">
              <td>{{upload.id}}</td>
              <td>{{upload.filepath}}</td>
              <td>{{upload.filesize / 1000}}</td>
              <td>{{upload.status}}</td>
              <td>
                <div class="progress" style="width: 90%;">
                  <div class="progress-bar progress-bar-striped active"
                       role="progressbar"
                       aria-valuenow="0"
                       aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: 0%">
                    <span class="progress-bar-label">0%</span>
                  </div>
                </div>
              </td>
              <td>{{upload.started}}</td>
              <td>{{upload.ended}}</td>
            </tr>
            </tbody>
          </table>
          <div v-else>
            <span class="label-centered">There are no active uploads.</span>
          </div>
        </div>

        <div class="table-block">
          <div class="table-title">Past Uploads ({{uploads_inactive.length}})</div>
          <table class="table table-striped" v-if="uploads_inactive.length > 0">
            <thead>
            <tr>
              <th>ID</th>
              <th>Filename</th>
              <th>Size (kB)</th>
              <th>Status</th>
              <th>Started</th>
              <th>Ended</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="upload in uploads_inactive">
              <td>{{upload.id}}</td>
              <td>{{upload.filepath}}</td>
              <td>{{upload.filesize / 1000}}</td>
              <td>{{upload.status}}</td>
              <td>{{upload.started}}</td>
              <td>{{upload.ended}}</td>
            </tr>
            </tbody>
          </table>
          <div v-else>
            <span class="label-centered">There are no inactive / past uploads.</span>
          </div>
        </div>

      </div>
      <!--  **** -->
      {% endif %}
    </div>
  </div>
</div>

<script src="{$ url_for('static', filename='js/app.js') $}"></script>

</body>
</html>
