<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"-->
  <!--          integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->

  <link rel="shortcut icon" href="https://statics.arcsecond.io/icons/favicons/favicon.ico">

  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel=stylesheet type=text/css>
  <link href="//fonts.googleapis.com/css?family=Inconsolata" rel=stylesheet type=text/css>
  <link href="{$ url_for('static', filename='css/font-awesome.min.css') $}" rel=stylesheet>

  <link href="{$ url_for('static', filename='css/style.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/main.css') $}" rel="stylesheet">
  <link href="{$ url_for('static', filename='css/oort.css') $}" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12">
      <h3>
        <img src="{$ url_for('static', filename='img/logo-circle.png') $}" width="20">
        Your <span class="text-value">Oort</span> server
        <span class="small">
          uploads local data to <a href="https://www.arcsecond.io" target="_blank">Arcsecond</a>'s cloud.
          (It is open-source and available on <a href="https://github.com/arcsecond-io/oort" target="_blank">GitHub</a>.)
          <a class="btn btn-info btn-xs" href="https://github.com/arcsecond-io/oort/issues/new">Report an problem</a>
        </span>
      </h3>

      <div class="context">
        <strong>Launch command used:</strong>
        <code>
          oort
          {% if context.organisation %}-o {$ context.organisation $}{% endif %}
          {% if context.debug %}-d{% endif %}
        </code>
        &nbsp;
        <strong>Observed root folder:</strong>
        <code>{$ context.folder $}</code>
      </div>
    </div>
  </div>

  {% if not context.isAuthenticated %}

    <div class="row">
      <div class="col-xs-12">
        <div class="context">
          Login first with the Arcsecond CLI (installed with Oort Cloud): (<code>$ arcsecond login</code>), then
          <a href="/" target="_self">refresh this page</a>.
        </div>
      </div>
    </div>

  {% else %}

    <!-- **** STARTING FROM HERE, VUE.JS 'state.js' HAS CONTROL **** -->
    <div id="vuejs" class="main-content">

      <div class="row row-header">
        <div class="col-xs-12">

          <div v-if="state">

            <div class="context">
              <div>
                <span>
                  <strong>Arcsecond username:</strong>
                  <a :href="`https://www.arcsecond.io/@${state.username}`" target="_blank">@{{ state.username }}</a>
                </span>
                <span v-if="state.organisation">
                  <strong>Organisation:</strong>
                  <a :href="`https://${state.organisation}.arcsecond.io`" target="_blank">{{ state.organisation ? state.organisation : '-' }}</a>
                </span>
                <span v-if="state.role">
                  <strong>Role:</strong> {{ state.role ? state.role : '-' }}
                </span>
                <span v-if="state.organisation && state.role">
                  <i class="fa fa-check" style="color: green;"></i>
                </span>
                <span v-if="state.organisation && state.role">
                  <i class="fa fa-arrow-right"></i>
                  &nbsp;Uploading to
                    <a :href="`https://api.arcsecond.io/${state.organisation}/`" target="_blank">
                      api.arcsecond.io/{{ state.organisation }}/datafiles
                    </a>
                  (private API endpoint)
                </span>
                <span v-else-if="state.organisation">
                  &nbsp;<i class="fa fa-exclamation-triangle" style="color: orange;"></i>&nbsp;
                  &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;No membership found for organisation <code>{{ state.organisation }}</code>!
                  Uploads are suspended. Either login again for organisation: <code>$ arcsecond login -o {{ state.organisation }}</code>
                  or relaunch Oort command without <code>--organisation</code> parameter.
                </span>
                <span v-else>
                  &nbsp;<i class="fa fa-arrow-right"></i>&nbsp;
                  Uploading to <a href="https://api.arcsecond.io">api.arcsecond.io/datafiles</a> (Personal account)
                </span>
              </div>

              <div>
                <span v-if="telescopes.length">
                  <label for="telescopes-select">Telescope(s)</label>:
                  <select id="telescopes-select" @change="selectTelescope($event.target.value)">
                    <option value="__all__">All</option>
                    <option v-for="(telescope, index) in telescopes" :key="telescope.uuid" :value="telescope.uuid">
                      {{ telescope.name }} <span class="subtitle">(uuid: {{ telescope.uuid }})</span>
                    </option>
                  </select>
                </span>
                <span v-else>
                  No telescope found.
                </span>
              </div>

              <div>
                <span v-if="selected_night_log">
                  <strong>Selected night log</strong>:
                  <a :href="`https://${state.organisation}.arcsecond.io/${selected_night_log_url}`" target="_blank">
                    {{ selected_night_log.date }}
                  </a>
                  <span class="subtitle">(uuid: {{ selected_night_log.uuid }})</span>
                  <br/>
                  <span class="subtitle">Beware that night logs starts on local noon and last 24 hours.</span>
                </span>
                <span v-else-if="night_logs && night_logs.length">
                  <strong>All night logs</strong> (1/telescope):
                  <a :href="`https://${state.organisation}.arcsecond.io/${selected_night_log_url}`" target="_blank">
                    {{ night_logs[0].date }}
                  </a>
                  [<span class="subtitle" v-for="night_log in night_logs">{{ night_log.uuid }}, </span>]
                  <br/>
                  <span class="subtitle">Beware that night logs starts on local noon and last 24 hours.</span>
                </span>
                <span v-else>
                  No night log
                </span>
              </div>

              <div v-if="messages.info">
                <strong>{{ messages.info }}</strong>
              </div>

              <div v-if="messages.warning">
                <span class="alert-warning">{{ messages.warning }}</span>
              </div>

            </div>
          </div>
          <!-- -->

        </div>
      </div>

      <div class="row row-tables text-small">
        <div class="col-xs-12">

          <div id="uploads" v-if="state">
            <div class="state-block">
              <div class="label-centered darkgray">{{ state.message }}</div>
            </div>

            <div class="state-block" v-if="state.warning">
              <div>
                <pre class="alert-warning">{{ state.warning }}</pre>
              </div>
            </div>

            <div class="state-block" v-if="!isAlive">
              <div>
                <pre class="alert-warning">Oort server is disconnected. Issue the command above again.</pre>
              </div>
            </div>

            <div class="table-block" v-if="isAlive && state.showTables">
              <div class="table-title">
                Active Uploads ({{ current_uploads.length }})
                <i class="fa fa-spin fa-spinner"></i>
              </div>
              <table class="table table-striped text-small" v-if="current_uploads.length > 0">
                <thead>
                <tr>
                  <th>Filename</th>
                  <th>Dataset</th>
                  <th>Size</th>
                  <th>Status</th>
                  <th>Progress</th>
                  <th>Started</th>
                  <th>Ended</th>
                  <th>Duration</th>
                  <th>Error</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="upload in current_uploads">
                  <td>{{ upload.filename }}</td>
                  <td :title="upload.dataset_uuid">
                    {{ upload.dataset_name }}
                    <span class="subtitle">{{ upload.dataset_uuid }}</span>
                  </td>
                  <td>{{ upload.filesize / 1000 }} kB</td>
                  <td>{{ upload.status }}</td>
                  <td>
                    <div class="progress" style="width: 90%;">
                      <div class="progress-bar progress-bar-striped active"
                           role="progressbar"
                           aria-valuenow="0"
                           aria-valuemin="0"
                           aria-valuemax="100">
                        <span class="progress-bar-label">{{ Math.round(upload.progress) }}%</span>
                      </div>
                    </div>
                  </td>
                  <td>{{ upload.started }}</td>
                  <td>{{ upload.ended }}</td>
                  <td>{{ upload.duration }} s</td>
                  <td>{{ upload.error }}</td>
                </tr>
                </tbody>
              </table>
              <div v-else>
                <span class="label-centered">There are no active uploads.</span>
              </div>
            </div>

            <div class="table-block" v-if="state.showTables">
              <div class="table-title">Finished Uploads ({{ finished_uploads.length }})</div>
              <table class="table table-striped text-small" v-if="finished_uploads.length > 0">
                <thead>
                <tr>
                  <th>Filename</th>
                  <th>Dataset</th>
                  <th>Size (kB)</th>
                  <th>Status</th>
                  <th>Started</th>
                  <th>Ended</th>
                  <th>Duration</th>
                  <th>Error</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="upload in finished_uploads">
                  <td>{{ upload.filename }}</td>
                  <td :title="upload.dataset_uuid">
                    {{ upload.dataset_name }}
                    <span class="subtitle">{{ upload.dataset_uuid }}</span>
                  </td>
                  <td>{{ upload.filesize / 1000 }} kB</td>
                  <td>{{ upload.status }}</td>
                  <td>{{ upload.started }}</td>
                  <td>{{ upload.ended }}</td>
                  <td>{{ upload.duration }} s</td>
                  <td>{{ upload.error }}</td>
                </tr>
                </tbody>
              </table>
              <div v-else>
                <span class="label-centered">There are no inactive / past uploads.</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  {% endif %}

  <script src="{$ url_for('static', filename='js/uploads.js') $}"></script>

</div>
</body>
</html>
