.main-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
}

.row.row-header {
    height: 120px;
    border-bottom: 1px solid #4dbce9;
    padding-bottom: 0.5em;
}

.row.row-tables {
    padding-top: 0.5em;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.context {
    line-height: 2em;
}

.table-block {
    display: block;
    margin-bottom: 5em;
}

.label-centered {
    color: lightgray;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 95%;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em; /*set line height back to normal*/
}

.label-centered.lightgray {
    color: lightgray;
}

.label-centered.darkgray {
    color: darkgray;
}

.table-title {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(79, 90, 108, 0.68);
}

.progress {
    margin-bottom: 0;
}